{% macro common_list_level_attributes(level, display_levels) %}
    text:level="{{ level }}"

    {% if display_levels %}
        text:display-levels="{{ level }}"
    {% endif%}
{% endmacro %}

{% macro open_list_level(style, level, display_levels) %}
    {% if style == 'bullet' %}
        <text:list-level-style-bullet
            text:bullet-char="•"
            {{ common_list_level_attributes(level, display_levels) }}>
    {% elif style == 'number' %}
        <text:list-level-style-number
            style:num-format="1"
            style:num-suffix="."
            {{ common_list_level_attributes(level, display_levels) }}>
    {% elif style == 'lower_roman' %}
        <text:list-level-style-number
            style:num-format="i"
            style:num-suffix="."
            {{ common_list_level_attributes(level, display_levels) }}>
    {% elif style == 'lower_alphabet' %}
        <text:list-level-style-number
            style:num-format="a"
            style:num-prefix="("
            style:num-suffix=")"
            {{ common_list_level_attributes(level, display_levels) }}>
    {% elif style == 'upper_alphabet' %}
        <text:list-level-style-number
            style:num-format="A"
            style:num-suffix="."
            {{ common_list_level_attributes(level, display_levels) }}>
    {% endif %}
{% endmacro %}

{% macro close_list_level(style) %}
    {% if style == 'bullet' %}
        </text:list-level-style-bullet>
    {% else %}
        </text:list-level-style-number>
    {% endif %}
{% endmacro %}

{% macro list(name, list_format, display_list_levels) %}
    {% set initial_margin = 0.635 %}
    {% set margin_increment = 0.635 %}

    <text:list-style style:name="{{ name }}">
        {% for level_style in list_format %}
            {{ open_list_level(level_style, loop.index, display_list_levels) }}
                <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
                    <style:list-level-label-alignment
                        fo:margin-left="{{ initial_margin + (margin_increment * loop.index) }}cm"
                        fo:text-indent="-{{ initial_margin }}cm"
                        text:label-followed-by="listtab"
                        text:list-tab-stop-position="{{ initial_margin + (margin_increment * loop.index) }}cm" />

                </style:list-level-properties>
            {{ close_list_level(level_style) }}
        {% endfor %}
    </text:list-style>
{% endmacro %}
