{% macro title(text) %}
    <text:h text:style-name="heading_1">{{ text }}</text:h>
{% endmacro %}

{% macro company_info_subtitle(companyName, companyNumber) %}
    <text:h text:style-name="heading_2">{{ companyName }} ({{ companyNumber }}) (“Company”)</text:h>
{% endmacro %}

{% macro date_subtitle(text) %}
    <text:h text:style-name="heading_3">{{ text }}</text:h>
{% endmacro %}

{% macro blank_line() %}
    <text:p text:style-name="text_normal" />
{% endmacro %}

{% macro blank_table_line() %}
    <text:p text:style-name="table_contents" />
{% endmacro %}

{% macro notes(notesList) %}
    {% if notesList %}
        <text:p text:style-name="text_normal">It is noted that:</text:p>

        <text:list text:style-name="normal_list">
            {% for note in notesList %}
                <text:list-item>
                    <text:p text:style-name="text_normal">{{ note }}</text:p>
                </text:list-item>
            {% endfor %}
        </text:list>
    {% endif %}
{% endmacro %}

{% macro signature_line() %}
    <text:p text:style-name="text_normal" />
    <text:p text:style-name="signature_line" />
{% endmacro %}

{% macro table_signature_line() %}
    <text:p text:style-name="text_normal" />
    <text:p text:style-name="table_signature_line" />
{% endmacro %}

{% macro link(text, link) -%}
    <text:a
        text:style-name="internet_link"
        xlink:href="{{ link }}"
        xlink:type="simple">
    
        {{- text -}}
    </text:a>
{%- endmacro %}

{% macro signature_table(people, name_attribute=null) %}
    {% for batchedPeople in people | batch(2) %}
        <table:table table:name="Signature Table" table:style-name="signature_table">

            <table:table-column table:number-columns-repeated="2" table:style-name="signature_table_column"/>

            <table:table-row table:style-name="signature_table_row">
                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                    {% if (name_attribute) %}
                        <text:p text:style-name="text_normal">Signed by {{ batchedPeople[0][name_attribute] }}</text:p>
                    {% else %}
                        <text:p text:style-name="text_normal">Signed by {{ batchedPeople[0] }}</text:p>
                    {% endif %}

                    {{ table_signature_line() }}
                </table:table-cell>

                {% if batchedPeople[1] %}
                    <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                        {% if (name_attribute) %}
                            <text:p text:style-name="text_normal">Signed by {{ batchedPeople[1][name_attribute] }}</text:p>
                        {% else %}
                            <text:p text:style-name="text_normal">Signed by {{ batchedPeople[1] }}</text:p>
                        {% endif %}

                        {{ table_signature_line() }}
                    </table:table-cell>
                {% endif %}
            </table:table-row>
        </table:table>
    {% endfor %}
{% endmacro %}
