{% macro title(text) %}
    <text:h text:style-name="heading_1">{{ text }}</text:h>
{% endmacro %}

{% macro company_info_subtitle(companyName, companyNumber) %}
    <text:h text:style-name="heading_2">{{ companyName }} ({{ companyNumber }}) (“Company”)</text:h>
{% endmacro %}


{% macro date_subtitle(text) %}
    <text:h text:style-name="heading_3">{{ text }}</text:h>
{% endmacro %}

{% macro line_break() %}
    <text:p text:style-name="text_normal" />
{% endmacro %}
