{% if notes %}
    <text:p text:style-name="text_normal">It is noted that:</text:p>

    {% for note in notes %}
        <text:list text:style-name="list_basic" xml:id="list1301401201315558174">
            <text:list-item>
                <text:p text:style-name="text_normal">{{ note }}</text:p>
            </text:list-item>
        </text:list>
    {% endfor %}
{% endif %}
