{% import 'styles/partials/macros.njk' as macros %}

<office:font-face-decls>
    <style:font-face style:font-charset="x-symbol" style:name="OpenSymbol" svg:font-family="OpenSymbol"/>
    <style:font-face style:name="Arial" svg:font-family="Arial, sans-serif"/>
    <style:font-face style:font-family-generic="modern" style:font-pitch="fixed" style:name="Courier New" svg:font-family="'Courier New'"/>
    <style:font-face style:font-family-generic="modern" style:font-pitch="fixed" style:name="Liberation Mono" svg:font-family="'Liberation Mono'"/>
    <style:font-face style:font-family-generic="roman" style:font-pitch="variable" style:name="Liberation Serif" svg:font-family="'Liberation Serif'"/>
    <style:font-face style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri2" svg:font-family="Calibri"/>
    <style:font-face style:font-adornments="Bold" style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri" svg:font-family="Calibri"/>
    <style:font-face style:font-adornments="Regular" style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri1" svg:font-family="Calibri"/>
    <style:font-face style:font-family-generic="system" style:font-pitch="variable" style:name="Arial Unicode MS" svg:font-family="'Arial Unicode MS'"/>
</office:font-face-decls>

<office:automatic-styles>

    <!--
    **  Headings
    -->
    <style:style
        style:name="heading_1"
        style:display-name="Heading 1"
        style:parent-style-name="Heading"
        text:outline-level="1"
        style:family="paragraph"
        style:next-style-name="text_body">

    </style:style>

    <style:style
        style:name="heading_2"
        style:display-name="Heading 2"
        style:parent-style-name="Heading"
        text:outline-level="2"
        style:family="paragraph"
        style:next-style-name="text_body">
    
    </style:style>

    <style:style
        style:name="heading_3"
        style:display-name="Heading 3"
        style:parent-style-name="Heading"
        text:outline-level="3"
        style:family="paragraph"
        style:next-style-name="text_body">

    </style:style>

    <!--
    **  Paragraphs
    -->
    <style:style
        style:family="paragraph"
        style:name="text_normal"
        style:parent-style-name="text_body">

        <style:paragraph-properties
            fo:text-align="start"
            style:justify-single-word="false" />
        
        <style:text-properties 
            fo:font-size="11pt" 
            style:font-name="Calibri2" 
            style:font-size-asian="11pt" 
            style:font-size-complex="11pt" />

    </style:style>

    <!--
    **  Text styling
    -->
    <style:style style:family="text" style:name="bold">
        <style:text-properties fo:font-weight="bold" style:font-weight-asian="bold" style:font-weight-complex="bold" />
    </style:style>

    <!--
    **  Signature line
    -->
    <style:style
        style:family="paragraph"
        style:name="signature_line"
        style:parent-style-name="horizontal_line">
    </style:style>

    <!--
    **  Tables
    -->
    <style:style style:family="table" style:name="signature_table">
        <style:table-properties style:shadow="none" style:width="17cm" table:align="margins"/>
    </style:style>
    <style:style style:family="table-column" style:name="signature_table_column">
        <style:table-column-properties style:column-width="8.5cm" style:rel-column-width="32767*"/>
    </style:style>
    <style:style style:family="table-row" style:name="signature_table_row">
        <style:table-row-properties fo:keep-together="always"/>
    </style:style>
    <style:style style:family="table-cell" style:name="signature_table_cell">
        <style:table-cell-properties fo:border="none" fo:padding="0.097cm"/>
    </style:style>

    <style:style style:family="table" style:name="layout_table">
        <style:table-properties style:width="17cm" table:align="margins"/>
    </style:style>
    <style:style style:family="table-column" style:name="layout_table_column">
        <style:table-column-properties style:column-width="8.5cm" style:rel-column-width="32767*"/>
    </style:style>
    <style:style style:family="table-cell" style:name="layout_table_cell">
        <style:table-cell-properties fo:border-bottom="0.05pt solid #000000" fo:border-left="0.05pt solid #000000" fo:border-right="none" fo:border-top="0.05pt solid #000000" fo:padding="0.25cm" fo:padding-top="0.35cm" />
    </style:style>

    {# This is different to a normal signature line, for some unknown reasons :) (Because it's in a table) #}
    <style:style style:family="paragraph" style:name="table_signature_line" style:parent-style-name="horizontal_line">
        <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="2.5cm" fo:text-indent="0cm" style:auto-text-indent="false"/>
    </style:style>


    <style:style
        style:family="paragraph"
        style:name="table_contents"
        style:parent-style-name="table_contents_base">

        <style:paragraph-properties
                fo:line-height="120%"
                fo:margin-bottom="0cm"
                fo:margin-top="0cm"
                loext:contextual-spacing="false" />

        <style:text-properties
            fo:font-size="11pt"
            style:font-name="Calibri2"
            style:font-size-asian="11pt"
            style:font-size-complex="11pt" />
    </style:style>

    <!--
    **  Lists
    -->
    {% set normal_list = ['number', 'lower_alphabet', 'lower_roman', 'upper_alphabet', 'number', 'number', 'number', 'number', 'number', 'number'] %}
    {% set legal_list = ['number', 'number', 'number', 'number', 'number', 'number', 'number', 'number', 'number', 'number'] %}

    {{ macros.list('normal_list', normal_list, false) }}
    {{ macros.list('legal_list', legal_list, true) }}


    <!--
    ** Links
    -->
    <style:style style:display-name="Internet link" style:family="text" style:name="internet_link">
        <style:text-properties
            fo:color="#000080"
            fo:country="none"
            fo:language="zxx"
            style:country-asian="none"
            style:country-complex="none"
            style:language-asian="zxx"
            style:language-complex="zxx"
            style:text-underline-color="font-color"
            style:text-underline-style="solid"
            style:text-underline-width="auto" />
    </style:style>
</office:automatic-styles>
