<office:font-face-decls>
    <style:font-face style:font-charset="x-symbol" style:name="OpenSymbol" svg:font-family="OpenSymbol"/>
    <style:font-face style:name="Arial" svg:font-family="Arial, sans-serif"/>
    <style:font-face style:font-family-generic="modern" style:font-pitch="fixed" style:name="Courier New" svg:font-family="'Courier New'"/>
    <style:font-face style:font-family-generic="modern" style:font-pitch="fixed" style:name="Liberation Mono" svg:font-family="'Liberation Mono'"/>
    <style:font-face style:font-family-generic="roman" style:font-pitch="variable" style:name="Liberation Serif" svg:font-family="'Liberation Serif'"/>
    <style:font-face style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri2" svg:font-family="Calibri"/>
    <style:font-face style:font-adornments="Bold" style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri" svg:font-family="Calibri"/>
    <style:font-face style:font-adornments="Regular" style:font-family-generic="swiss" style:font-pitch="variable" style:name="Calibri1" svg:font-family="Calibri"/>
    <style:font-face style:font-family-generic="system" style:font-pitch="variable" style:name="Arial Unicode MS" svg:font-family="'Arial Unicode MS'"/>
</office:font-face-decls>

<office:automatic-styles>

    <!--
    **  Headings
    -->
    <style:style
        style:name="heading_1"
        style:display-name="Heading 1"
        style:parent-style-name="Heading"
        text:outline-level="1"
        style:family="paragraph"
        style:next-style-name="text_body">

    </style:style>

    <style:style
        style:name="heading_2"
        style:display-name="Heading 2"
        style:parent-style-name="Heading"
        text:outline-level="2"
        style:family="paragraph"
        style:next-style-name="text_body">
    
    </style:style>

    <style:style
        style:name="heading_3"
        style:display-name="Heading 3"
        style:parent-style-name="Heading"
        text:outline-level="3"
        style:family="paragraph"
        style:next-style-name="text_body">

    </style:style>

    <!--
    **  Paragraphs
    -->
    <style:style
        style:family="paragraph"
        style:name="text_normal"
        style:parent-style-name="text_body">

        <style:paragraph-properties
            fo:text-align="start"
            style:justify-single-word="false" />
        
        <style:text-properties 
            fo:font-size="11pt" 
            style:font-name="Calibri2" 
            style:font-size-asian="11pt" 
            style:font-size-complex="11pt" />

    </style:style>

    <!--
    **  Signature line
    -->
    <style:style
        style:family="paragraph"
        style:name="signature_line"
        style:parent-style-name="horizontal_line">
    </style:style>

    <!--
    **  Tables
    -->
    <style:style style:family="table" style:name="Table1">
        <style:table-properties style:width="17cm" table:align="margins"/>
    </style:style>
    <style:style style:family="table-column" style:name="Table1.A">
        <style:table-column-properties style:column-width="8.5cm" style:rel-column-width="32767*"/>
    </style:style>
    <style:style style:family="table-column" style:name="Table1.B">
        <style:table-column-properties style:column-width="8.5cm" style:rel-column-width="32768*"/>
    </style:style>
    <style:style style:family="table-cell" style:name="Table1.A1">
        <style:table-cell-properties fo:border="none" fo:padding="0.097cm"/>
    </style:style>

    <!--
    **  Lists
    -->
    <text:list-style style:name="list_basic">
        {% import 'styles/partials/macros.njk' as macros %}
        {% set list_format = ['bullet', 'number', 'lower_roman', 'lower_alphabet'] %}
        {% set display_list_levels = true %}
        {% set initial_margin = 0.635 %}
        {% set margin_increment = 0.635 %}

        {% for level_style in list_format %}
            {{ macros.open_list_level(level_style, loop.index, display_list_levels) }}
                <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
                    <style:list-level-label-alignment
                        fo:margin-left="{{ initial_margin + (margin_increment * loop.index) }}cm"
                        fo:text-indent="-{{ margin_increment }}cm"
                        text:label-followed-by="listtab"
                        text:list-tab-stop-position="{{ initial_margin + (margin_increment * loop.index) }}cm" />

                </style:list-level-properties>
            {{ macros.close_list_level(level_style) }}
        {% endfor %}
    </text:list-style>
</office:automatic-styles>
