{% extends 'layouts/default.njk' %}

{% import 'partials/components.njk' as components %}

{% block body %}

    {{ components.title('Ordinary Resolution of Shareholders') }}
    {{ components.company_info_subtitle(company.companyName, company.companyNumber) }}
    {{ components.date_subtitle(resolutionOptions.dateOfMinute | date) }}

    {{ components.line_break() }}

    <text:p text:style-name="text_normal">
        {% if resolutionOptions.resolutionType == 'Special Resolution at Shareholder Meeting' %}
            This minute records that on {{ dateOfShareholderMeeting }} the shareholders of the Company held a meeting, during which the following

            {% if resolutions | length > 1 %}
                resolutions were
            {% else %}
                resolution was
            {% endif %} passed:
        {% else %}
            The shareholders of the Company named below hereby resolve in accordance with section 122 of the Companies Act 1993: 
        {% endif %} 
    </text:p>

    <text:list text:style-name="normal_list">
        <text:list-item>
            {% for resolution in resolutions %} 
                {% if resolution.resolutionType == 'Appoint Director' %}
                    That {{ resolution.director.name }} be appointed a director of the Company with effect from {{ resolution.date }}. Companies Act 1993, ss 153(2).
                {% endif %}
                {% if resolution.resolutionType == 'Appoint Directors' %}
                    That {{ resolution.directors | flatten('name') | join_and('director') }} be appointed a directors of the Company with effect from {{ resolution.date }}. Prior to this resolution being passed, a separate resolution that the appointment of the directors be voted on in a single resolution was passed. Alternatively, the votes were taken by ballet or poll. Companies Act 1993, ss 153(2) and 155.
                {% endif %}
                {% if resolution.resolutionType == 'Remove Director' %}
                    That {{ resolution.director.name }} be removed from office as a director of the Company with effect from {{ resolution.date }}. The shareholders’ meeting was called for the purpose of, or for purposes that include, removing the director, as stated in the notice of meeting. Companies Act 1993, ss 156 and 157(1)(b).
                {% endif %}
                {% if resolution.resolutionType == 'Custom' %}
                    {{ resolution.text }}
                {% endif %}
            {% endfor %}
        </text:list-item>
    </text:list>

    {% if resolutionOptions.resolutionType == 'Special Resolution at Shareholder Meeting' %}
        <text:p text:style-name="text_normal">
            {% if resolutions|length > 1 %}
                Each of the above resolutions were
            {% else %}
                The above resolution was
            {% endif %}
            approved as an ordinary resolution of the Company’s shareholders by a simple majority of the votes of those shareholders entitled to vote and voting on the question. Companies Act 1993, s 105.
        </text:p>

        {{ components.notes(notes) }}
    {% endif %}

    <text:p text:style-name="text_normal">
        This minute is certified as true and correct by {{ chairperson.name }}, who chaired the shareholders’ meeting.
        {{ components.link('Companies Act 1993, s 124 and cl 8(2) of sch 1', 'https://browser.catalex.nz/open_article/query?doc_type=instrument&title=Companies%20Act%201993&find=location&location=+sch+1%20cl8(2)+124') }}.
    </text:p>
    
    <text:p text:style-name="text_normal">Signed by {{ resolutionOptions.chairperson.name }} as chairperson:</text:p>

    {{ components.signature_line() }}
    
    {{ components.signature_table(directors, 'name') }}

{% endblock %}
