{% extends 'layouts/default.njk' %}

{% import 'partials/components.njk' as components %}
{% import 'partials/helpers.njk' as helpers %}

{% block body %}

    {{ components.title('Share Transfer Form') }}
    {{ components.blank_line() }}

    <table:table table:name="Layout Table" table:style-name="layout_table">
        <table:table-column table:style-name="layout_table_column" />
        <table:table-column table:style-name="layout_table_column" />
        
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Entity Details</text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">
                    {{ company.companyName }} (NZCN {{ company.companyNumber }})
                </text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Description of Shares
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Description of Shares</text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">{{ transaction.shareClass }}</text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Number to be Transferred
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Number to be Transferred</text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">
                    {{ transaction.amount }}
                </text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Transferor Details
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Transferor Details</text:p>
                <text:p text:style-name="table_contents">(Full Name and Physical Address)</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                {% for holder in transaction.transferors %}
                    <text:p text:style-name="table_contents">
                        {{ holder.name }}

                        {% if holder.companyNumber %}
                            (NZCN {{ holder.companyNumber }})
                        {% endif %}

                        <text:line-break />

                        {{- holder.address }}
                    </text:p>

                    {% if not loop.last %}
                        {{ components.blank_table_line() }}
                    {% endif %}
                {% endfor %}
            </table:table-cell>
        </table:table-row>

        <!--
        **  Transferee Details
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Transferee Details</text:p>
                <text:p text:style-name="table_contents">(Full Name and Physical Address)</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                {% for holder in transaction.transferees %}
                    <text:p text:style-name="table_contents">
                        {{ holder.name }}

                        {% if holder.companyNumber %}
                            (NZCN {{ holder.companyNumber }})
                        {% endif %}

                        <text:line-break />

                        {{- holder.address }}
                    </text:p>

                    {% if not loop.last %}
                        {{ components.blank_table_line() }}
                    {% endif %}
                {% endfor %}
            </table:table-cell>
        </table:table-row>

        <!--
        **  Consideration
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Consideration</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">
                    {{ transaction.consideration }}
                </text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Transfer Date
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Transfer Date</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">{{ transaction.effectiveDateString | date }}</text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Reference to agreement
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Reference to agreement (if any)</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">
                    {{ transaction.referenceToAgreement }}
                </text:p>
            </table:table-cell>
        </table:table-row>

        <!--
        **  Signatures
        -->
        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                <text:p text:style-name="table_contents">Signatures</text:p>
            </table:table-cell>

            <table:table-cell office:value-type="string" table:style-name="layout_table_cell">
                {% for holding in transaction.transferors %}
                    <text:p text:style-name="table_contents">
                        <text:span text:style-name="bold">Signed by</text:span>

                        {% if holding.behalfOf %}
                            <text:span text:style-name="bold">{{ holding.behalfOf }}</text:span> on behalf of the
                        {% else %}
                            <text:span text:style-name="bold">{{ holding.name }}</text:span> as
                        {% endif %}

                        Transferor:
                    </text:p>
                    
                    {{ components.table_signature_line() }}

                    <text:p text:style-name="table_contents">
                        Signature of {% if holding.behalfOf %}{{ holding.behalfOf }}{% else %}{{ holding.name }}{% endif %}
                    </text:p>

                    {{ components.blank_table_line() }}
                {% endfor %}

                {% for holding in transaction.transferees %}
                    <text:p text:style-name="table_contents">
                        <text:span text:style-name="bold">Signed</text:span> by 

                        {% if holding.behalfOf %}
                            <text:span text:style-name="bold">{{ holding.behalfOf }}</text:span> on behalf of the
                        {% else %}
                            <text:span text:style-name="bold">{{ holding.name }}</text:span> as
                        {% endif %}

                        Transferee:
                    </text:p>

                    {{ components.table_signature_line() }}

                    <text:p text:style-name="table_contents">
                        Signature of {% if holding.behalfOf %}{{ holding.behalfOf }}{% else %}{{ holding.name }}{% endif %}
                    </text:p>

                    {% if not loop.last %}
                        {{ components.blank_table_line() }}
                    {% endif %}
                {% endfor %}
            </table:table-cell>
        </table:table-row>
    </table:table>

{% endblock %}
